<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cat.Net" version="0.4.0.0" targetFramework="net45" />
  <package id="TongCheng.SOA.Core" version="5.3.0.0" targetFramework="net45" />
  <package id="TongCheng.SOA.Interface.Cruise.Resource.Entities" version="1.0.3.66" targetFramework="net45" />
</packages>